<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Add a new expense</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]= "createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Expense Name" formControlName="expense_name" #expense_name>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="field-full-width">
        <input matInput type="number" min=1 placeholder="Price" formControlName="price" #price>
      </mat-form-field><br>
      <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.jpeg">
      <br>
      <mat-divider></mat-divider>
      <br><br>
      <button type="submit" (click)="backToExpenses()" mat-raised-button color="accent">Back</button>&nbsp;
      <button type="submit" (click)="addExpense(expense_name.value, price.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>